<%- include("./includes/head"); %>
</head>

<body>
  <header class="header">
    <%- include("./includes/nav"); %>
    </nav>
  </header>
  <main>
    <h1>Page not Found...</h1>
  </main>
  <%- include("./includes/tail"); %>