<%- include("./includes/head"); %>
<link rel="stylesheet" href="/form.css">
</head>

<body>
  <header class="header">
    <%- include("./includes/nav"); %>
    </nav>
  </header>
  <main>
    <h1>Internal Server Error, we're working on it...</h1>
    <a href="/" class="anchor__primary">Home</a>
  </main>
  <%- include("./includes/tail"); %>