doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/main.css")
        block styles
    body 
        header.header
            nav.header--nav
                ul.header--ul
                    li.header--li 
                        a(href="/" class=(path == '/' ? 'active' : '')) Home
                    li.header--li 
                        a(href="/add-products" class=(path == '/add-products' ? 'active' : '')) Add Products
                    li.header--li 
                        a(href="/cart" class=(path == '/cart' ? 'active' : '')) Cart 
        block body