<nav class="header--nav">
  <ul class="header--ul">
    <li class="header--li">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/"> Home </a>
    </li>

    <li class="header--li">
      <a class="<%= path === '/add-products' ? 'active' : '' %>" href="/add-products">Add Products</a>
    </li>
    <li class="header--li">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">
        Cart</a>
    </li>
  </ul>
</nav>